.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius);

  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: 0.18s ease;
}

.btn-primary {
  background: var(--btn-primary-bg);
  color: var(--btn-primary-fg);
}
.btn-primary:hover {
  background: var(--btn-primary-hover);
}
