# 除外フォルダ
dev/
archive/
trash/
tests/
node_modules/
dist/
build/

# 圧縮ファイル系
*.zip
*.tar
*.tar.gz

# ログ・設定ファイル系
*.log
.vscode/
.idea/
.DS_Store
Thumbs.db

# 一時ファイル系
*.tmp
*.cache
*.env
.env.local
.env.*.local

# キャッシュ系
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# firebase
js/firebase/firebase_config.js
*/firebase_config.js